@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}


.sandy{
  background:linear-gradient(to right, #a13cff, #04e0fd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Times New Roman', Times, serif; 
  font-weight: bolder;
}